@import "../base/variables";

.l-container {
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 $spacing-sm;
}

.section {
  padding: $spacing-lg $spacing-sm;
}

main {
  padding: $spacing-md 0 $spacing-xl;
}
