@import "../base/variables";

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 0.95rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 0.95rem;
}

.button--primary {
  background-color: $color-red-soft;
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

.button--primary:hover,
.button--primary:focus {
  background-color: $color-red-strong;
  text-decoration: none;
}
