@import "../base/variables";

footer {
  background-color: $color-bg-footer;
  padding: $spacing-sm 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.footer__inner {
  @extend .l-container;
  text-align: center;
  font-size: 0.85rem;
  color: $color-text-muted;
}

.site-footer__links {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    font-size: 0.90rem;
    a {
      font-weight: 500;
      color: $color-red-strong;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }