@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Kaisei+Tokumin:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
@import "npm:@fortawesome/fontawesome-free/css/all.css";