// Colores
$color-green-deep: #365642;
$color-grey-light: #d6dde7;
$color-red-soft: #e05053;
$color-red-strong: #c61a2f;
$color-red-deep: #6b0909;

$color-bg-main: #f7f7f5; 
$color-bg-header: #ccd6e5; 
$color-bg-footer: #e9edf3;

$color-text-main: #1f2a2c;
$color-text-muted: #4a5a5c;
$color-text-light: #ffffff;

// Tipografía
$font-base: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji","Segoe UI Emoji";
$font-heading: "Kaisei Tokumin", "Hiragino Mincho ProN", "Yu Mincho", serif;
$font-brand: "Kaisei Decol", "Hiragino Mincho ProN", "Yu Mincho", serif;

// Dimensiones
$max-width-container: 1040px;
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;